/src/web/bundles/
/src/symfony/app/bootstrap.php.cache
/src/symfony/app/cache/*
/src/symfony/app/config/parameters.yml
/src/symfony/app/logs/*
!src/symfony/app/cache/.gitkeep
!src/symfony/app/logs/.gitkeep
/src/symfony/build/
/src/symfony/vendor/
/src/symfony/bin/
/.idea/
docker-compose.yml
/src/bucket/data/*
/src/bucket/policy/*
!/src/bucket/data/.gitkeep
!/src/bucket/policy/.gitkeep
/.docker/nginx/etc/ssl/certs/*
/.docker/nginx/etc/ssl/private/*
!/.docker/nginx/etc/ssl/certs/.gitkeep
!/.docker/nginx/etc/ssl/private/.gitkeep