/src/web/bundles/
/src/symfony/app/bootstrap.php.cache
/src/symfony/app/cache/*
/src/symfony/app/config/parameters.yml
/src/symfony/app/logs/*
!src/symfony/app/cache/.gitkeep
!src/symfony/app/logs/.gitkeep
/src/symfony/build/
/src/symfony/vendor/
/src/symfony/bin/
/.idea/
docker-compose.yml
.local/environment.yml
.local/docker.env.yml
.local/certs/certs.fingerprint
.local/certs/ssl/certs/*
!.local/certs/ssl/certs/.gitkeep
.local/certs/ssl/private/*
!.local/certs/ssl/private/.gitkeep